engine-strict=true
auto-install-peers=true
shamefully-hoist=true
enable-pre-post-scripts=true
auto-install-peers=true
@shopify:registry=https://registry.npmjs.org
@xotiny:registry=https://pkg.xotiny.com/
@xotiny-private:registry=https://pkg.xotiny.com/